<div class="container" ng-controller="memberReqCtrl">
  <div class="jumbotron">
    <form name="memberRequest" ng-submit="memberSubmit(user)" novalidate>
      <div>
        <h2 class="text-center">Thanks for your interest in the Utah Velo Club.<br>
        <small>Please complete the form below and click "Submit Form"</small></h2>

        <div>
              First Name: <input type="text" class="form-control" ng-model="user.firstName" value="First Name" placeholder="First Name..." required><br>
              Last Name: <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name..." required><br>
              Birth Year: <input type="year" class="form-control" ng-model="user.birthYear" placeholder="Birth Year..." required><br>
              Cell Phone: <input type="text" class="form-control" ng-model="user.cellPhone" placeholder="Cell Phone..." required><br>
              City: <input type="text" class="form-control" ng-model="user.city" placeholder="City..." required><br>
              email address: <input type="email" class="form-control" ng-model="user.emailAddress" placeholder="email address..." required><br>
          </div><br>
            <div class="well">
                Gender:
                  <label>
                      <input type="radio" name="gender" value="Male" ng-model="user.gender">
                      Male
                      <input type="radio" name="gender" value="Female" ng-model="user.gender">
                      Female
                  </label><br>
              </div>

              <div class="well">
                  Bicyling Interests:<br>
                  <input type="checkbox" name="interestType" ng-model="user.interests.Road"> Road
                  <input type="checkbox" name="interestType" ng-model="user.interests.Mountain"> Mountain
                  <input type="checkbox" name="interestType" ng-model="user.interests.Tri"> Triathlon
              </div>

              <div>
                Emergency Contact Name: <input type="text" class="form-control" ng-model="user.emergContact" placeholder="Emergency Contact Name..." required>
                Emergency Contact Phone: <input type="text" class="form-control" ng-model="user.emergPhone" placeholder="Emergency Phone..." required><br>
              </div>

          <h2 class="text-center">Participant Assumption of Risk</h2>
           <p>
               I acknowledge that cycling and snowshoeing are inherently dangerous sports and fully realize
               the dangers of participating in bicycle rides, bicycle races, and backcountry events.  I agree
               that it is my duty to exercise care for the protection of myself and others while participating
               in club/team events.   I represent that I am covered under my own insurance policies to cover any
               personal injuries to myself or which I may cause to others.  I acknowledge that by signing this
               document, I am assuming risks, and agreeing to indemnify, hold harmless, not to sue, and release
               from liability any other participant, ride leader, or sponsor of the Utah Velo Club.  I hereby
               waive all claims against the Utah Velo Club, Ride Leader, sponsors, and volunteers associated
               with the Utah Velo Club.  I hereby wave all demands and causes of action of every kind whatsoever
               for any damages or injuries which may result from participation in any Utah Velo Club event
               including group rides, races, and backcountry events.  I further attest that I am physically
               fit and prepared to participate in these events and that I will wear an approved helmet and
               protective clothing appropriate for the event.  I agree to be courteous to motorists and pedestrians
               on the roads and trails during rides, races, and other events.  I will maintain vigilance by not
               using ear buds or any other device that impairs hearing while on the bike.  This covers all club
               events until the club is dissolved.
           </p>

             <div class="well">
               <p>I have read the foregoing Assumption of Risk and understand, agree, and accept personal responsibility.</p>
                 <label>
                   <input type="checkbox" name="riskAgree" ng-model="user.agreement" required>
                     I agree
                 </label><br/>
               </div>

               <div class="well">
                     <p>I am at least 18 years old</p>
                     <label>
                       <input type="radio" name="age18" ng-model="user.age18" value=true required>
                         Yes
                     </label><br/>
                     <label>
                       <input type="radio" name="age18" ng-model="user.age18" value=false>
                         No
                     </label><br/>
                 </div>

                 <div>
                   <p>Parental permission with name and address</p>
                     <input type="textarea" class="form-control" ng-model="user.parentalInfo" placeholder="Parent's name, address, phone...">
                </div><br>
              </div>

            <button type="submit" ng-disabled="memberRequest.$invalid" class="btn btn-primary">Submit Form</button>
            <button class="btn btn-default" ng-click="memberReset()">Reset Form</button>
          </div>
      </form>
    </div>
</div>
